body {
    margin-bottom: 100px;
}

a {
    color: #faa52f;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.home_title {
    text-align: left;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: #000000db;
    font-weight: 600;
}

.title_font {
    font-family: "Inconsolata", "Source Sans Pro", sans-serif;
}

.sans_font {
    font-family: "Inconsolata", "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.home_body {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 148%;
    font-weight: 300;
}

@media (max-device-width: 768px) {
    body {
        margin-right: 10px;
        margin-left: 20px;
    }
}
